@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script src="~/js/category.js" defer></script>
}


<div class="container categories suppliers">
    <label>Category</label>
    <select id="select-category">
        <option value="0" selected>Nothing selected</option>
        
    </select>
    <label>Supplier</label>
    <select id="select-supplier">
        <option value="0" selected>Nothing selected</option>

    </select>
</div>
<div class="container" id="product-cards">
    
    


</div>
<section class="hidden" id="modal">
    <div id="modal__content">
        <div id="modal__head"></div>
        <div id="modal__body">
        </div>
        <div id="modal__footer">
            <button type="button" id="continue-shopping">Continue shopping</button>
                <button type="button" id="go-to-checkout" onclick="window.location.href='/Product/Payment'">Go to checkout</button>
        </div>
    </div>
</section>
