@model Codecool.CodecoolShop.Models.PersonDetails

@{
    ViewData["Title"] = "Payment";
}

<section id="payment-cart">
    <section id="personal-details">
        <h1>Payment</h1>

        <h4>PersonDetails</h4>
        <hr />
        <div class="row">
            <div class="col-md-10">
                <form asp-action="Payment">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" type="text"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" type="email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" type="text"/>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Adress" class="control-label"></label>
                        <input asp-for="Adress" class="form-control" type="text"/>
                        <span asp-validation-for="Adress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" onclick="window.location.href='/'"/>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
    <section id="shopping-cart">
        <div id="cart__head"></div>
        <div id="cart__body"></div>
        <div id="cart__footer"></div>
    </section>
</section>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script src="~/js/checkout.js" defer></script>
}
